<div class="container">
  <div class="row" style="padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pJQCE_AaPrk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p>Seneca and NIFM have a very global partnership…
      I’m very proud that both institutions are benefiting for their partnership and that two comrades, the two
      countries, are also benefiting of all of it.”</p>
    <p style="font-weight: bold">Dinesh Bhatia</p>
    <p>Consul General of India, Toronto</p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p>“My experience with NIFM and along with it, the international attachment with Seneca College, has been excellent
      to say the least. I never expected this kind of treatment from Canada and the Canadian people, the college, they
      all have been excellent support of NIFM on this role…Seneca College is one of the best colleges in Canada.”</p>
    <p style="font-weight: bold">Lt Col. Ranjit Ravindran</p>
    <p>Indian Army</p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <p>“The teachers and professors are phenomenal and it has been a really great experience understanding best
      practices in financial management from them. It’s a gain-gain and I would see more exchanges between us and
      Seneca, and India and Canada.”</p>
    <p style="font-weight: bold">Lt Col. Prashant Dixit</p>
    <p>Indian Army</p>
  </div>
</div>