<div class="container">
    <div class="row" style="padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px;">
        <iframe width="1120" height="630" src="https://www.youtube.com/embed/pJQCE_AaPrk" frameborder="0" class="mx-auto d-block"
          style="width:100%" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<br/><br/>
<div class="container">
  <div class="row">
    <div id="quotes" class="col-md-4 col-sm-4 col-xs-12" style="border-right:solid 3px gainsboro">
      <em>
        <blockquote style="text-align: center">
          <p>“Seneca and NIFM have a very global partnership… I’m very proud that both institutions are benefiting for their partnership
              and that two comrades, the two countries, are also benefiting of all of it.”</p>
        </blockquote>
      </em>
      <p style="text-align: center">
        <strong>Dinesh Bhatia</strong>
        <br/> Consul General of India, Toronto
      </p>
    </div>
    <div id="quotes" class="col-md-4 col-sm-4 col-xs-12" style="border-right:solid 3px gainsboro">
      <em>
        <blockquote style="text-align: center">
          <p>“My experience with NIFM and along with it, the international attachment with Seneca College, has been excellent to say
              the least. I never expected this kind of treatment from Canada and the Canadian people, the college, they all have been
              excellent support of NIFM on this role…Seneca College is one of the best colleges in Canada.”</p>
        </blockquote>
      </em>
      <p style="text-align: center">
        <strong>Lt Col. Ranjit Ravindran</strong>
        <br/> Indian Army
      </p>
    </div>
    <div id="quotes" class="col-md-4 col-sm-4 col-xs-12">
        <em>
          <blockquote style="text-align: center">
            <p>“The teachers and professors are phenomenal and it has been a really great experience understanding best practices
              in financial management from them. It’s a gain-gain and I would see more exchanges between us and Seneca, and
              India and Canada.”</p>
          </blockquote>
        </em>
        <p style="text-align: center">
          <strong>Lt Col. Prashant Dixit</strong>
          <br/> Indian Army
        </p>
      </div>
  </div>
</div>