<div class="row" style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <table>
      <tr>
        <img id="image-home" src="/assets/images/home/home-images-04.jpg" />
        <td id="paragraph">
          <h2 id="heading">About Seneca – NIFM Partnership</h2>
          <p>Seneca and NIFM partnership is to work together on ongoing short-term training to NIFM participants, in the field
            of public sector financial management. The customized training is designed on contemporary financial management
            topics such as Fin-Tech: Innovation in Finance, Cybercrime, Anti Money Laundering, Fraud Detection and Prevention
            and Bitcoin and Blockchain. The training program is delivered at Seneca in association with Seneca’s School of
            Accounting and Financial Services. For past two years, over 150 Government of India Officers have received training
            at Seneca.</p>
        </td>
      </tr>
      <tr>
        <img id="image-home" src="/assets/images/home/home-images-071.jpg" />
        <td id="paragraph">
          <h2 id="heading">About Seneca</h2>
          <p>Seneca College opened in 1967, and has 50 years of experience in delivering quality post-secondary education and
            has 10 campuses in Toronto, York Region and Peterborough, one of the fastest growing regions in the Province.
            Seneca’s programs are in demand and always evolving to meet the needs of our industry partners. Seneca graduates
            almost 8,000 students annually with more than 5,300 International students from 130 countries.</p>
          <ul>
            <li>More than 191 dynamic career focused programs</li>
            <li>4-year Bachelor Degrees</li>
            <li>2-year and 3-year “Workplace Ready” Diplomas</li>
            <li>1 year “Career Specialized” Post Graduate Programs</li>
            <li>28 Advanced Diplomas and 23 Certificates Programs</li>
            <li>Seneca is known and respected around the world.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <img id="image-home" src="/assets/images/home/home-images-061.jpg" />
        <td id="paragraph">
          <h2 id="heading">About NIFM</h2>
          <p>National Institute of Financial Management (NIFM) was set up in 1993 as an autonomous body under the Ministry of
            Finance, Government of India. NIFM is registered as a society.</p>
          <p>The Union Finance Minister is the President of the NIFM Society. The Institute, created as an apex training institution
            for centralized and uniform training of Civil Services Probationers. Recruited through the Union Public Service
            Commission (UPSC) of India for Central Finance &#038; Accounts Services), represents the training mandate for
            the following services:</p>
          <ul>
            <li>Indian Audit &#038; Accounts Service</li>
            <li>Indian Civil Accounts Service</li>
            <li>Indian Cost Accounts Service</li>
            <li>Indian Defense Accounts Service</li>
            <li>Indian P&#038;T (Finance &#038; Accounts) Service and</li>
            <li>Indian Railway Accounts Service of Government of India.</li>
          </ul>
        </td>
      </tr>
    </table>
    <br/>
    <app-tweetw></app-tweetw>
  </div>
</div>