<div id="header-main" class="header-bottom sticky" style="background-color:grey; top: 0px;">
  <div class="header-bottom-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a class="navbar-brand" href="/home">
            <img src="assets/images/Senecalogo-02.png" />
          </a>
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a href="/home">Home</a>
              </li>
              <li routerLinkActive="active">
                <a href="/home">Media Coverage</a>
              </li>
              <li routerLinkActive="active">
                <a href="/home">Pre-Arrival</a>
              </li>
              <li routerLinkActive="active">
                <a href="/home">Contact Us</a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li routerLinkActive="active">
                <a href="/home">NIFM PGDM</a>
              </li>
              <li routerLinkActive="active">
                <a href="/home">NIFM PTC</a>
              </li>
              <li routerLinkActive="active">
                <a href="/home">NIFM MDP</a>
              </li>
              <li routerLinkActive="active">
                <a href="/home">NIFM FinTech</a>
              </li>
            </ul>

            <h2>LOCATION MAP WILL GO TO THE RIGHT HERE!!</h2>
          </div>
        </div>
        <!--/.container-->
      </div>
    </div>
  </div>
</div>